.tablaEmisiones {
    max-width: 90%;       /* Establece el ancho máximo que puede tener la tabla */
    overflow-x: auto;     /* Si el contenido excede el ancho máximo, muestra una barra de desplazamiento */
    margin: 0 auto;       /* Centra la tabla horizontalmente */
    max-height: 500px;    /* Establece el alto máximo para la tabla */
    overflow-y: auto;     /* Si el contenido excede el alto máximo, muestra una barra de desplazamiento vertical */
}

.tablaEmisiones td {
    white-space: nowrap;  /* Esto hace que el contenido de la celda no se divida */
    overflow: hidden;     /* Si el contenido es más largo que la celda, lo esconde */
    text-overflow: ellipsis; /* Si el contenido es escondido, muestra '...' al final */
    max-width: 200px;    /* Puedes ajustar el ancho máximo de la celda a tu preferencia */
}

.tablaEmisiones th {
    white-space: nowrap;  /* Esto hace que el encabezado de la celda no se divida */
}

mat-form-field {
    width: 100%;
}

mat-form-field.mat-select {
    width: 300px;
}

.campofecha {
    width: 50%;
}

.graphics-container{
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "graphic-one graphic-two";
  column-gap: 2rem;
  padding: 20px;
}

.graphic-one {
  grid-area: graphic-one;
  background-color: #EEF3EF;
  border-radius: 10px;
  padding: 20px;
}

.graphic-two {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: space-between;
  font-weight: 500;
  }
  .alcance-uno, .alcance-dos, .alcance-tres{
  border: solid 1.5px #EEF3EF;
  display: flex;
  justify-content: space-between;
  padding-right: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  align-items: center;
  width: 100%;
  padding: 10px;
  }

.porcent {
  background-color: #EEF3EF;
  padding: 5px;
  border-radius: 10px;
  padding-left: 13px;
  padding-right: 13px;
}
.total {
  font-size: x-large;
  color: rgb(43, 43, 43);
}

.total span {
  font-size: x-small;
  font-weight: lighter;
  color: rgb(108, 108, 108);
  margin-left: 2px;

}
.graphic-two p {
  margin: 0;
}
.alcance-icon {
  background-color: #EEF3EF;
  padding: 20px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
.alcance-container {
  display: flex;
}

hr {
  border: none;
  border: dashed rgba(128, 128, 128, 0.745) 1px;
}
.total-footprint {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 1rem;
}
.filters-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.filters-container__wrapper {
  display: flex;
  justify-content: flex-end;
}
.reset-btn{
  border-radius: 5px;
  border: 2px solid #4c91cc;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: 600;
  background-color: #4c91cc;
  color: white;
  margin: 20px 5px;
  margin-right: 1rem;
}
.filters-hr{
  border: solid rgba(128, 128, 128, 0.745) 1px;
}
.date-picker {
  width: 14rem;
}
@media (max-width: 745px){
   .filters-container {
    flex-direction: column;
    width: 100%;
   }
   .filters-container__wrapper {
    justify-content: center;
   }
   .date-picker{
    width: 100%;
   }
}
