
<amplify-authenticator>
  <ng-template amplifySlot="authenticated" let-signOut="signOut">
    
    <!-- Mostrar el nickname del usuario y el botón de cerrar sesión -->
    <div style="display: flex; justify-content: space-between; padding: 10px; background-color: #f5f5f5;">
      <h1 *ngIf="isLoadingNickname">Cargando...</h1>
<h1 *ngIf="!isLoadingNickname">Welcome {{ nickname }}!</h1>

      <button (click)="signOut()">Sign Out</button>
    </div>
    
    <!-- Contenedor principal para el sidebar y el contenido -->
    <div class="container">
      
      <!-- Sidebar con opciones para cambiar de vista -->
      <div class="sidebar">
        <ul>
          <li><a routerLink="/factores-de-emision">Factores de emisión</a></li>
          <li><a routerLink="/emisiones">Emisiones</a></li>
          <li><a routerLink="/resultados">Resultados</a></li>
        </ul>
      </div>

      <!-- Área principal de contenido donde se cargarán las vistas -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>

    </div>
  </ng-template>
</amplify-authenticator>
