<!-- <div class="graphics-container">
  <div class="graphic-one">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [plotOptions]="chartOptions.plotOptions"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [title]="chartOptions.title"
      [tooltip]="chartOptions.tooltip"
      [fill]="chartOptions.fill"
      [colors]="chartOptions.colors"
      [legend]="chartOptions.legend"
      [stroke]="chartOptions.stroke"
      ></apx-chart>
      <hr>
      <div class="total-footprint">
        <p>Total Footprint</p>
        <p class="total">{{totalAlcance.toFixed(2)}}<span>tCO2</span></p>
      </div>
  </div>
  <div class="graphic-two">
    <div class="alcance-container">
      <div class="alcance-icon">
        <i class="fa-solid fa-fire"></i>
      </div>
      <section class="alcance-uno">
        <p class="alcance-text">Alcance 1</p>
        <p class="porcent">{{alcanceUno}}%</p>
        <p class="total">{{totalAlcanceUno.toFixed(2)}}<span>tCO2</span></p>
      </section>
    </div>
    <div class="alcance-container">
      <div class="alcance-icon">
        <i class="fa-solid fa-plug-circle-exclamation"></i>
      </div>
      <section class="alcance-dos">
        <p class="alcance-text">Alcance 2</p>
        <p class="porcent">{{alcanceDos}}%</p>
        <p class="total">{{totalAlcanceDos.toFixed(2)}}<span>tCO2</span></p>
      </section>
    </div>
    <div class="alcance-container">
      <div class="alcance-icon">
        <i class="fa-solid fa-explosion"></i>
      </div>
      <section class="alcance-tres">
        <p class="alcance-text">Alcance 3</p>
        <p class="porcent">{{alcanceTres}}%</p>
        <p class="total">{{totalAlcanceTres.toFixed(2)}}<span>tCO2</span></p>
      </section>
    </div>
  </div>
</div> -->
