<div class="graphics-container">
  <div class="graphic-one">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [plotOptions]="chartOptions.plotOptions"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [title]="chartOptions.title"
      [tooltip]="chartOptions.tooltip"
      [fill]="chartOptions.fill"
      [colors]="chartOptions.colors"
      [legend]="chartOptions.legend"
      [stroke]="chartOptions.stroke"
      ></apx-chart>
      <hr>

      <div class="total-footprint">
        <p>Total Footprint</p>
        <p class="total  placeholder-glow" *ngIf="totalAlcance == null" style="width: 8rem;">
          <span class="placeholder" style="width: 8rem; height: 2rem; border-radius: 12px;"></span>
      </p>
        <p class="total" *ngIf="totalAlcance !== null">{{totalAlcance.toFixed(2)}}<span>tCO2</span></p>
      </div>
  </div>
  <div class="graphic-two">
    <div class="alcance-container">
      <div class="alcance-icon">
        <i class="fa-solid fa-fire"></i>
      </div>
      <section class="alcance-uno">
        <p class="alcance-text" >Alcance 1</p>
        <p class="porcent">{{alcanceUno}}%</p>
        <p class="total  placeholder-glow" *ngIf="totalAlcance == null" style="width: 6rem; margin-right: -1rem;">
          <span class="placeholder col-8" style="height: 2rem; border-radius: 12px"></span>
      </p>
        <p class="total" *ngIf="totalAlcanceUno !== null">{{totalAlcanceUno.toFixed(2)}}<span>tCO2</span></p>
      </section>
    </div>
    <div class="alcance-container">
      <div class="alcance-icon">
        <i class="fa-solid fa-plug-circle-exclamation"></i>
      </div>
      <section class="alcance-dos">
        <p class="alcance-text">Alcance 2</p>
        <p class="porcent">{{alcanceDos}}%</p>
        <p class="total  placeholder-glow" *ngIf="totalAlcance == null" style="width: 6rem; margin-right: -1rem;">
          <span class="placeholder col-8" style="height: 2rem; border-radius: 12px"></span>
      </p>
        <p class="total" *ngIf="totalAlcanceDos !== null">{{totalAlcanceDos.toFixed(2)}}<span>tCO2</span></p>
      </section>
    </div>
    <div class="alcance-container">
      <div class="alcance-icon">
        <i class="fa-solid fa-explosion"></i>
      </div>
      <section class="alcance-tres">
        <p class="alcance-text">Alcance 3</p>
        <p class="porcent">{{alcanceTres}}%</p>
        <p class="total  placeholder-glow" *ngIf="totalAlcance == null" style="width: 6rem; margin-right: -1rem;">
          <span class="placeholder col-8" style="height: 2rem; border-radius: 12px"></span>
      </p>
        <p class="total" *ngIf="totalAlcanceTres !== null">{{totalAlcanceTres.toFixed(2)}}<span>tCO2</span></p>
      </section>
    </div>
  </div>
</div>

<div class="tab-container">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active nav-link__left active-text" aria-current="page" href="">ALL ALCANCES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">ALCANCE 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">ALCANCE 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled nav-link__right">ALCANCE 3</a>
    </li>
  </ul>
</div>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="category-column">Categoría</th>
      <th class="co2-column">CO2</th>
      <th class="progress-column">Gráfico</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of sortedCategories">
      <tr>
        <td class="category-column">{{ getCategoryName(item.key) }}</td>
        <td class="co2-column">
          {{ item.value.toFixed(2) }}
          ({{ getPercentage(item.value, getTotalForAllAlcances()) | number:'1.0-2' }}%)
        </td>
        <td class="progress-column">
          <div class="bar-container">
            <div class="bar"
                 [ngStyle]="{
                   'width': getPercentage(item.value, getTotalForAllAlcances()) + '%',
                   'background-color': getBarColor(item.alcance)
                 }"></div>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>









