.graphics-container{
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "graphic-one graphic-two";
  column-gap: 2rem;
  padding: 20px;
}
@media (max-width: 980px){
   .graphics-container {
    grid-template-columns: 1fr;
    row-gap: 30px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "graphic-one"
    "graphic-two";
   }

}

.graphic-one {
  grid-area: graphic-one;
  background-color: #EEF3EF;
  border-radius: 10px;
  padding: 20px;
}

.graphic-two {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: space-between;
  font-weight: 500;
  }
  .alcance-uno, .alcance-dos, .alcance-tres{
  border: solid 1.5px #EEF3EF;
  display: flex;
  justify-content: space-between;
  padding-right: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  align-items: center;
  width: 100%;
  padding: 10px;
  }

.porcent {
  background-color: #EEF3EF;
  padding: 5px;
  border-radius: 10px;
  padding-left: 13px;
  padding-right: 13px;
}
.total {
  font-size: xx-large;
  color: rgb(43, 43, 43);
  font-weight: normal;
}

.total span {
  font-size: x-small;
  font-weight: lighter;
  color: rgb(108, 108, 108);
  margin-left: 2px;

}
.graphic-two p {
  margin: 0;
}
.alcance-icon {
  background-color: #EEF3EF;
  padding: 20px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
.alcance-container {
  display: flex;
}

hr {
  border: none;
  border: dashed rgba(128, 128, 128, 0.745) 1px;
}
.total-footprint {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 1rem;
  font-weight: 500;
}

.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius);
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: rgb(43, 43, 43);;

}
.nav-item{
  cursor: pointer;
}
.nav-pills .nav-link {
  border-radius: 0;
  border: solid 1px rgb(43, 43, 43);
  color: rgb(43, 43, 43);;
  font-weight: 500;
}
.nav-pills .nav-link__left {
  border-radius: 0;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px;
}
.nav-pills .nav-link__right {
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-link.active {
  color: white !important;
}

.tab-container {
  display: flex;
  width: 100%;
  justify-content:space-between;
  margin-top: 3rem;
  padding-right: 1.15rem;
}
.table-container {
  padding-right: 20px;
  padding-left: 20px;

}
.progress-bar-container {
  background-color: #e0e0e0;
  border-radius: 0.25rem;
  overflow: hidden;
}

.table {
  width: 100%;
}

.category-column {
  width: 30%;
}

.co2-column {
  width: 30%;
  text-align: end;
}

.progress-column {
  width: 40%;
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  height: 1.8rem;
}

.bar {
  height: 100%;
  display: inline-block;
}


.td {
  display: flex;
  align-items: center;
}

