
<button mat-raised-button (click)="mostrarFormulario()">Nuevo Factor de Emisión</button>
<button mat-raised-button color="warn" (click)="eliminarSeleccionados()">Eliminar seleccionados</button>
<button mat-raised-button (click)="descargarCSV()">Descargar CSV</button>

<div *ngIf="mostrandoFormulario">

    <form [formGroup]="form" (ngSubmit)="agregarFactor()">

        <mat-form-field>
            <input matInput placeholder="cod" formControlName="cod">
        </mat-form-field>


        <mat-form-field>
            <mat-label>ALCANCE</mat-label>
            <mat-select formControlName="ALCANCE">
                <mat-option value="Alcance 1">Alcance 1</mat-option>
                <mat-option value="Alcance 2">Alcance 2</mat-option>
                <mat-option value="Alcance 3">Alcance 3</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>CATEGORIA</mat-label>
            <mat-select formControlName="CATEGORIA">
                <mat-option value="Combustión estacionaria">Combustión estacionaria</mat-option>
                <mat-option value="Combustión móvil">Combustión móvil</mat-option>
                <mat-option value="Emisiones de procesos">Emisiones de procesos</mat-option>
                <mat-option value="Emisiones fugitivas">Emisiones fugitivas</mat-option>
                <mat-option value="Calor, vapor, refrigeración y aire comprimido comprados">Calor, vapor, refrigeración y aire comprimido comprados</mat-option>
                <mat-option value="Electricidad comprada">Electricidad comprada</mat-option>
                <mat-option value="Pérdidas por transmisión y distribución">Pérdidas por transmisión y distribución</mat-option>
                <mat-option value="Bienes y servicios comprados">Bienes y servicios comprados</mat-option>
                <mat-option value="Desplazamiento de los empleados ">Desplazamiento de los empleados</mat-option>
                <mat-option value="Residuos generados en las operaciones">Residuos generados en las operaciones</mat-option>
                <mat-option value="Transporte y distribución aguas abajo (cadena de valor)">Transporte y distribución aguas abajo (cadena de valor)</mat-option>
                <mat-option value="Transporte y distribución aguas arriba (cadena de suministro)">Transporte y distribución aguas arriba (cadena de suministro)</mat-option>
                <mat-option value="Uso de productos vendidos">Uso de productos vendidos</mat-option>
                <mat-option value="Viajes de negocio">Viajes de negocio</mat-option>

            </mat-select>

        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="SUBCATEGORIA" formControlName="SUBCATEGORIA">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="ACTIVIDAD" formControlName="ACTIVIDAD">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="COMBUSTIBLE" formControlName="COMBUSTIBLE">
        </mat-form-field>
        <mat-form-field>
            <mat-label>UNIDAD DE MEDIDA</mat-label>
            <mat-select formControlName="UNIDADFE">
                <mat-option value="kgCO2eq/$">kgCO2eq/$</mat-option>
                <mat-option value="kgCO2eq/kg">kgCO2eq/kg</mat-option>
                <mat-option value="kgCO2eq/l">kgCO2eq/l</mat-option>
                <mat-option value="kgCO2eq/m3">kgCO2eq/m3</mat-option>
                <mat-option value="kgCO2eq/MWh">kgCO2eq/MWh</mat-option>
                <mat-option value="kgCO2eq/persona-km">kgCO2eq/persona-km</mat-option>
                <mat-option value="kgCO2eq/t">kgCO2eq/t</mat-option>
                <mat-option value="kgCO2eq/t-km">kgCO2eq/t-km</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Dióxido de Carbono (CO2)" formControlName="FE_CO2">
            <mat-error *ngIf="form.controls['FE_CO2'].hasError('pattern')">
                Debe ingresar un número válido.
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Metano (CH4)" formControlName="FE_CH4">
            <mat-error *ngIf="form.controls['FE_CH4'].hasError('pattern')">
                Debe ingresar un número válido.
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Óxido Nitroso (N2O)" formControlName="FE_N2O">
            <mat-error *ngIf="form.controls['FE_N2O'].hasError('pattern')">
                Debe ingresar un número válido.
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Hexafluoruro de azufre (SF6)" formControlName="FE_SF6">
            <mat-error *ngIf="form.controls['FE_SF6'].hasError('pattern')">
                Debe ingresar un número válido.
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Hidrofluorocarbono (HFC)" formControlName="FE_HFC">
            <mat-error *ngIf="form.controls['FE_HFC'].hasError('pattern')">
                Debe ingresar un número válido.
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Perfluorocarbono (PFC)" formControlName="FE_PFC">
            <mat-error *ngIf="form.controls['FE_PFC'].hasError('pattern')">
                Debe ingresar un número válido.
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Trifluoruro de nitrógeno (NF3)" formControlName="FE_NF3">
            <mat-error *ngIf="form.controls['FE_NF3'].hasError('pattern')">
                Debe ingresar un número válido.
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>INCERTIDUMBRE</mat-label>
            <mat-select formControlName="INCERTIDUMBRE">
                <mat-option value="ALTA">ALTA</mat-option>
                <mat-option value="MEDIA">MEDIA</mat-option>
                <mat-option value="BAJA">BAJA</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="ORIGENFE" formControlName="ORIGENFE">
        </mat-form-field>

        <button mat-raised-button type="submit">Guardar</button>
        <button mat-raised-button type="button" (click)="cancelarFormulario()">Cancelar</button>
    </form>
</div>


<table mat-table [dataSource]="factores" class="mat-elevation-z8 tablaFactores">
    <!-- Columna de selección -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="ID/COD">
        <th mat-header-cell *matHeaderCellDef>ID/COD</th>
        <td mat-cell *matCellDef="let factor">
            <ng-container *ngIf="factor.ID; else showCod">{{factor.ID}}</ng-container>
            <ng-template #showCod>{{factor.cod}}</ng-template>
        </td>
    </ng-container>
    <ng-container matColumnDef="ALCANCE">
        <th mat-header-cell *matHeaderCellDef>ALCANCE</th>
        <td mat-cell *matCellDef="let factor">{{factor.ALCANCE}}</td>
    </ng-container>
    <!-- CATEGORIA Column -->
    <ng-container matColumnDef="CATEGORIA">
        <th mat-header-cell *matHeaderCellDef>CATEGORIA</th>
        <td mat-cell *matCellDef="let factor">{{factor.CATEGORIA}}</td>
    </ng-container>

    <!-- SUBCATEGORIA Column -->
    <ng-container matColumnDef="SUBCATEGORIA">
        <th mat-header-cell *matHeaderCellDef>SUBCATEGORIA</th>
        <td mat-cell *matCellDef="let factor">{{factor.SUBCATEGORIA}}</td>
    </ng-container>

    <ng-container matColumnDef="ACTIVIDAD">
        <th mat-header-cell *matHeaderCellDef>ACTIVIDAD</th>
        <td mat-cell *matCellDef="let factor">{{factor.ACTIVIDAD}}</td>
    </ng-container>

    <ng-container matColumnDef="COMBUSTIBLE">
        <th mat-header-cell *matHeaderCellDef>COMBUSTIBLE</th>
        <td mat-cell *matCellDef="let factor">{{factor.COMBUSTIBLE}}</td>
    </ng-container>

    <ng-container matColumnDef="CONTAMINANTE">
        <th mat-header-cell *matHeaderCellDef>CONTAMINANTE</th>
        <td mat-cell *matCellDef="let factor">{{factor.CONTAMINANTE}}</td>
    </ng-container>

    <ng-container matColumnDef="INCERTIDUMBRE">
        <th mat-header-cell *matHeaderCellDef>INCERTIDUMBRE</th>
        <td mat-cell *matCellDef="let factor">{{factor.INCERTIDUMBRE}}</td>
    </ng-container>

    <ng-container matColumnDef="VALORFE">
        <th mat-header-cell *matHeaderCellDef>VALORFE</th>
        <td mat-cell *matCellDef="let factor">{{factor.VALORFE}}</td>
    </ng-container>

    <ng-container matColumnDef="UNIDADFE">
        <th mat-header-cell *matHeaderCellDef>UNIDADFE</th>
        <td mat-cell *matCellDef="let factor">{{factor.UNIDADFE}}</td>
    </ng-container>

    <ng-container matColumnDef="ORIGENFE">
        <th mat-header-cell *matHeaderCellDef>ORIGENFE</th>
        <td mat-cell *matCellDef="let factor">{{factor.ORIGENFE}}</td>
    </ng-container>
    <!-- (Agrega las demás columnas de forma similar aquí) -->
    <!-- Encabezados y filas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>