.tablaFactores {
    max-width: 90%;       /* Establece el ancho máximo que puede tener la tabla */
    margin: 0 auto;       /* Centra la tabla horizontalmente */
    max-height: 500px;    /* Establece el alto máximo para la tabla */
  }
  .table-container {
  overflow-y: auto;     /* Si el contenido excede el alto máximo, muestra una barra de desplazamiento vertical */
  overflow-x: auto;
  max-height: 80vh;
  }

.tablaFactores td {
    white-space: nowrap;  /* Esto hace que el contenido de la celda no se divida */
    overflow: hidden;     /* Si el contenido es más largo que la celda, lo esconde */
    text-overflow: ellipsis; /* Si el contenido es escondido, muestra '...' al final */
    max-width: 200px;    /* Puedes ajustar el ancho máximo de la celda a tu preferencia */
}

.tablaFactores th {
    white-space: nowrap;  /* Esto hace que el encabezado de la celda no se divida */
}

mat-form-field {
    width: 100%;
}

mat-form-field.mat-select {
    width: 300px;
}

