
<button mat-raised-button (click)="mostrarFormulario()">Nueva Emisión</button>
<button mat-raised-button color="warn" (click)="eliminarSeleccionados()">Eliminar seleccionados</button>
<button mat-raised-button (click)="descargarCSV()">Descargar CSV</button>

<div *ngIf="mostrandoFormulario">

    <form [formGroup]="form" (ngSubmit)="agregarEmision()">

        <mat-form-field>
            <mat-label>ALCANCE</mat-label>
            <mat-select formControlName="ALCANCE">
                <mat-option *ngFor="let alcance of alcances" [value]="alcance">{{ alcance }}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>CATEGORIA</mat-label>
            <mat-select formControlName="CATEGORIA">
                <mat-option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>SUBCATEGORIA</mat-label>
            <mat-select formControlName="SUBCATEGORIA">
                <mat-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria">{{ subcategoria }}</mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field>
            <mat-label>ACTIVIDAD</mat-label>
            <mat-select formControlName="ACTIVIDAD">
                <mat-option *ngFor="let actividad of actividades" [value]="actividad">{{ actividad }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>COMBUSTIBLE</mat-label>
            <mat-select formControlName="COMBUSTIBLE">
                <mat-option *ngFor="let combustible of combustibles" [value]="combustible">{{ combustible }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Unidad</mat-label>
            <mat-select formControlName="UNIDADFE">
                <mat-option *ngFor="let unidad of unidades" [value]="unidad">{{ unidad }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="CANTIDAD" formControlName="CANTIDAD">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Inicio Periodo</mat-label>
            <input matInput [matDatepicker]="inicioPicker" placeholder="InicioPeriodo" formControlName="InicioPeriodo">
            <mat-datepicker-toggle matIconSuffix [for]="inicioPicker"></mat-datepicker-toggle>
            <mat-datepicker #inicioPicker></mat-datepicker>
        </mat-form-field>
          
        <mat-form-field>
            <mat-label>Termino Periodo</mat-label>
            <input matInput [matDatepicker]="terminoPicker" placeholder="TerminoPeriodo" formControlName="TerminoPeriodo">
            <mat-datepicker-toggle matIconSuffix [for]="terminoPicker"></mat-datepicker-toggle>
            <mat-datepicker #terminoPicker></mat-datepicker>
        </mat-form-field>
        

        <button mat-raised-button type="submit">Guardar</button>
        <button mat-raised-button type="button" (click)="cancelarFormulario()">Cancelar</button>
    </form>
</div>


<table mat-table [dataSource]="emisiones" class="mat-elevation-z8 tablaEmisiones">
    <!-- Columna de selección -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let factor">{{factor.id}}</td>
    </ng-container>
    <ng-container matColumnDef="ALCANCE">
        <th mat-header-cell *matHeaderCellDef>ALCANCE</th>
        <td mat-cell *matCellDef="let factor">{{factor.ALCANCE}}</td>
    </ng-container>
    <!-- CATEGORIA Column -->
    <ng-container matColumnDef="CATEGORIA">
        <th mat-header-cell *matHeaderCellDef>CATEGORIA</th>
        <td mat-cell *matCellDef="let factor">{{factor.CATEGORIA}}</td>
    </ng-container>

    <!-- SUBCATEGORIA Column -->
    <ng-container matColumnDef="SUBCATEGORIA">
        <th mat-header-cell *matHeaderCellDef>SUBCATEGORIA</th>
        <td mat-cell *matCellDef="let factor">{{factor.SUBCATEGORIA}}</td>
    </ng-container>

    <ng-container matColumnDef="ACTIVIDAD">
        <th mat-header-cell *matHeaderCellDef>ACTIVIDAD</th>
        <td mat-cell *matCellDef="let factor">{{factor.ACTIVIDAD}}</td>
    </ng-container>

    <ng-container matColumnDef="COMBUSTIBLE">
        <th mat-header-cell *matHeaderCellDef>COMBUSTIBLE</th>
        <td mat-cell *matCellDef="let factor">{{factor.COMBUSTIBLE}}</td>
    </ng-container>

    <ng-container matColumnDef="UNIDADFE">
        <th mat-header-cell *matHeaderCellDef>UNIDADFE</th>
        <td mat-cell *matCellDef="let factor">{{factor.UNIDADFE}}</td>
    </ng-container>

    <ng-container matColumnDef="CANTIDAD">
        <th mat-header-cell *matHeaderCellDef>CANTIDAD</th>
        <td mat-cell *matCellDef="let factor">{{factor.CANTIDAD}}</td>
    </ng-container>

    <ng-container matColumnDef="CO2">
        <th mat-header-cell *matHeaderCellDef>CO2</th>
        <td mat-cell *matCellDef="let factor">{{factor.CO2}}</td>
    </ng-container>

    <ng-container matColumnDef="CH4">
        <th mat-header-cell *matHeaderCellDef>CH4</th>
        <td mat-cell *matCellDef="let factor">{{factor.CH4}}</td>
    </ng-container>

    <ng-container matColumnDef="N2O">
        <th mat-header-cell *matHeaderCellDef>N2O</th>
        <td mat-cell *matCellDef="let factor">{{factor.N2O}}</td>
    </ng-container>

    <ng-container matColumnDef="SF6">
        <th mat-header-cell *matHeaderCellDef>SF6</th>
        <td mat-cell *matCellDef="let factor">{{factor.SF6}}</td>
    </ng-container>

    <ng-container matColumnDef="HFC">
        <th mat-header-cell *matHeaderCellDef>HFC</th>
        <td mat-cell *matCellDef="let factor">{{factor.HFC}}</td>
    </ng-container>

    <ng-container matColumnDef="PFC">
        <th mat-header-cell *matHeaderCellDef>PFC</th>
        <td mat-cell *matCellDef="let factor">{{factor.PFC}}</td>
    </ng-container>

    <ng-container matColumnDef="NF3">
        <th mat-header-cell *matHeaderCellDef>NF3</th>
        <td mat-cell *matCellDef="let factor">{{factor.NF3}}</td>
    </ng-container>

    <ng-container matColumnDef="InicioPeriodo">
        <th mat-header-cell *matHeaderCellDef>InicioPeriodo</th>
        <td mat-cell *matCellDef="let factor">{{factor.InicioPeriodo}}</td>
    </ng-container>

    <ng-container matColumnDef="TerminoPeriodo">
        <th mat-header-cell *matHeaderCellDef>TerminoPeriodo</th>
        <td mat-cell *matCellDef="let factor">{{factor.TerminoPeriodo}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>